<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measure</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" />
</head>
<body>
    <div class="background-image"></div>
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {% if category == 'success' %}alert-success{% else %}alert-error{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>        
    <nav>
        <a href="#" class="website-name">Dodgeball Throw Analyzer</a>
        <ul>
            <li class="{{ 'active' if request.endpoint == 'home' }}"><a href="/">Home</a></li>
            <li class="{{ 'active' if request.endpoint == 'my_page' }}"><a href="/my-page">My Page</a></li>
            <li class="{{ 'active' if request.endpoint == 'calibration' }}"><a href="/calibration">Calibration</a></li>
            <li class="{{ 'active' if request.endpoint == 'measure' }}"><a href="/measure">Measure Throw</a></li>
            <li class="{{ 'active' if request.endpoint == 'how_it_works' }}"><a href="/how-it-works">How does it work?</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login', next=request.path) }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        <h1>Measure Throw</h1>
        <form action="/measure" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file1">Side Camera:</label>
                <input type="file" id="file1" name="file1" class="form-control-file" accept=".mp4, .mov, .avi" required>
                <small class="form-text text-muted" style="font-size: 10px; margin-top: -10px;">(Accepted formats: .mp4, .mov, .avi)</small>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <label for="file2">Underneath Camera:</label>
                <input type="file" id="file2" name="file2" class="form-control-file" accept=".mp4, .mov, .avi" required>
                <small class="form-text text-muted" style="font-size: 10px; margin-top: -10px;">(Accepted formats: .mp4, .mov, .avi)</small>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <label for="frame_rate">Frame rate (fps):</label>
                <input type="number" id="frame_rate" name="frame_rate" class="form-control" required>
            </div>
            <button type="submit" id="measure-btn">Measure</button>
        </form>

        {% if throw_info.velocity and throw_info.accuracy_x and throw_info.accuracy_y and throw_info.total_distance %}
        <h3>Throw Results</h3>
        <p>Velocity: {{ throw_info.velocity }} km/h</p>
        <p>Distance from center: {{ throw_info.total_distance }} cm</p>

        <svg height="410" width="410">
            <circle cx="205" cy="205" r="200" fill="black"  />
            <circle cx="205" cy="205" r="180" fill="white"  />
            <circle cx="205" cy="205" r="160" fill="black"  />
            <circle cx="205" cy="205" r="140" fill="white"  />
            <circle cx="205" cy="205" r="120" fill="black"  />
            <circle cx="205" cy="205" r="100" fill="white"  />
            <circle cx="205" cy="205" r="80" fill="black"  />
            <circle cx="205" cy="205" r="60" fill="white" />
            <circle cx="205" cy="205" r="40" fill="black" />
            <circle cx="205" cy="205" r="20" fill="white"  />
            <circle cx="205" cy="205" r="3" fill="black" />
            <circle cx="{{ 205 + (throw_info.accuracy_x * 2) }}" cy="{{ 205 + (throw_info.accuracy_y * 2) }}" r="5" fill="red" />
        </svg>

        {% endif %}
    </div>
    <script>
        function initFlashMessagesObserver() {
          const flashMessages = document.getElementById('flash-messages');
          const observer = new MutationObserver(function (mutations) {
            mutations.forEach(function (mutation) {
              if (mutation.type === 'childList' && mutation.addedNodes.length > 0) {
                while (mutation.target.firstElementChild !== mutation.addedNodes[0]) {
                  mutation.target.firstElementChild.remove();
                }
              }
            });
          });
      
          observer.observe(flashMessages, { childList: true });
        }
      
        function addButtonLoader(button, form) {
          form.addEventListener('submit', function () {
            button.innerHTML = `${button.textContent} <span class="loader-container"><div class="loader"></div></span>`;
            button.classList.add('loading');
            button.disabled = true;
          });
        }
      
        document.addEventListener('DOMContentLoaded', function () {
          initFlashMessagesObserver();
      
          const pathname = window.location.pathname;
      
          if (pathname === '/calibration') {
            const calibrateBtn = document.getElementById('calibrate-btn');
            const calibrateForm = document.querySelector('form[method="POST"][action="/calibration"]');
            addButtonLoader(calibrateBtn, calibrateForm);
          } else if (pathname === '/measure') {
            const measureBtn = document.getElementById('measure-btn');
            const measureForm = document.querySelector('form[method="POST"][action="/measure"]');
            addButtonLoader(measureBtn, measureForm);
          }
        });
    </script>
      
      
      
    <!-- <script>
        const measureForm = document.querySelector('form[method="POST"]');
        const measureBtn = document.getElementById('measure-btn');

        measureForm.addEventListener('submit', function () {
            measureBtn.innerHTML = 'Measure <div class="loader-container"><div class="loader"></div></div>';
            measureBtn.disabled = true;
            //measureBtn.style.minWidth = '140px'; // Ensure the button doesn't shrink when the loader is added
        });
    </script>     -->
</body>
</html>
