<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Throw</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" />
</head>
<body>
    <div class="background-image"></div>
    <div class="container">
        <h1>View Throw</h1>
        <h3>Throw Results</h3>
        <p>Velocity: {{ measured_throw.velocity }} km/h</p>
        <p>Distance from center: {{ measured_throw.total_distance }} cm</p>

        <svg height="410" width="410">
            <circle cx="205" cy="205" r="200" fill="black"  />
            <circle cx="205" cy="205" r="180" fill="white"  />
            <circle cx="205" cy="205" r="160" fill="black"  />
            <circle cx="205" cy="205" r="140" fill="white"  />
            <circle cx="205" cy="205" r="120" fill="black"  />
            <circle cx="205" cy="205" r="100" fill="white"  />
            <circle cx="205" cy="205" r="80" fill="black"  />
            <circle cx="205" cy="205" r="60" fill="white" />
            <circle cx="205" cy="205" r="40" fill="black" />
            <circle cx="205" cy="205" r="20" fill="white"  />
            <circle cx="205" cy="205" r="3" fill="black" />
            <circle cx="{{ 205 + (measured_throw.accuracy_x * 2) }}" cy="{{ 205 + (measured_throw.accuracy_y * 2) }}" r="5" fill="red" />
        </svg>
    </div>
</body>
</html>
